@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  margin: 5rem;
}

.home-title {
  margin: 15px;
  font-family: Sansita;
}

.sec-title {
  margin: 15px;
  font-family: Sansita;
}

.home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 5rem;
  font-size: 20px;
  margin: 15px;
  font-family: Sansita;
}

/* -----------------------------------------  */

.app {
  height: 100vh;
  /* background-color: aquamarine; */
  display: flex;
  /* justify-content: space-around; */
  /* align-items: center; */
  gap: 2rem;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}

/* -----------------------------------------  */

.app .income {
  width: 30rem;
  padding: 2rem;
}

.app .expense {
  width: 30rem;
  padding: 2rem;
}

.app .saving {
  padding: 2rem;
}

.app .balance {
  padding: 2rem;
  /* margin-top: 50px; */
}

/* -------------------------------------------  */

.income form {
  width: 20rem;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.expense form {
  width: 20rem;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.saving form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.balance form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

/* ------------------------------------------------  */

/* ============= INCOME =======================  */

.income input {
  background-color: rgba(0, 162, 255, 0.4);
}

.form-income button {
  background-color: rgba(0, 162, 255, 0.4);
}

.income label {
  text-align: left;
}

/* ==============================================  */

/* ----------------------- INCOME ITEMS --------------------------  */

.income-item {
  /* width: 450px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 15px; */
}

.income-item .income-list {
  display: flex;
  margin: 10px 0;
}

.income-item button {
  margin-left: 15px;
}

.income-item li {
  list-style-type: none;
}

.income-list {
  background-color: rgba(0, 162, 255, 0.4);
  padding: 20px;
  margin-bottom: 5px;
  border: 2px solid blue;
  border-radius: 5rem;
}

/* -----------------------------------------  */

/* ================= EXPENSE ===================  */

.expense input {
  background-color: rgba(255, 0, 0, 0.4);
}

.form-expense button {
  background-color: rgba(255, 0, 0, 0.4);
}

.expense label {
  text-align: left;
}

.expense-item {
  /* width: 450px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 15px; */
}

.expense-item .expense-list {
  display: flex;
  margin: 10px 0;
}

.expense-item button {
  margin-left: 15px;
}

.expense-item li {
  list-style-type: none;
}

.expense-list {
  background-color: rgba(255, 0, 0, 0.4);
  padding: 20px;
  margin-bottom: 5px;
  border: 2px solid red;
  border-radius: 5rem;
}

/* ------------------------------------------  */

/* ================== SAVING =====================  */

.saving input {
  background-color: rgba(0, 0, 255, 0.4);
}

.form-saving button {
  background-color: rgba(0, 0, 255, 0.4);
}

/* ----------------------------------------------------  */

/* ===================== BALANCE =======================  */

.balance input {
  background-color: rgba(0, 255, 0, 0.4);
}

.form-balance button {
  background-color: rgba(0, 255, 0, 0.4);
}

/* ------------------------------------------  */

.balance-amount {
  display: block;
  text-align: center;
  color: red;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5rem;
}

form button {
  border: none;
  border-radius: 5rem;
  padding: 10px;
  margin: 10px 0;
  /* color: aliceblue; */
  font-size: 15px;
  font-weight: bold;
}

label {
  font-size: 20px;
  margin: 10px 0;
  text-align: center;
}

span {
  margin: 10px;
  color: red;
  text-align: center;
  font-size: 18px;
}

p {
  margin: 10px;
  color: red;
  text-align: center;
  font-size: 18px;
}

.exit-btn {
  background-color: black;
  color: aliceblue;
  top: 5;
  left: 5;
  position: absolute;
  width: 5vw;
  font-size: 0.8rem;
}
